/* Mise en forme des éléments dans la page */

.wrapper-news {
  min-height: calc(100vh - 60px - 82px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Mise en forme container actualité */

.container-news {
  width: 100%;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.wrapper-illustration-news {
  display: flex;
  border: 2px solid #e5e5e5;
  border-radius: 5px;
  justify-content: center;
  margin: auto;
  width: 75%;
  height: auto;
}

.datetime-created-news {
  padding: 1.5rem 0;
}

/* Mise en forme des écrits */

.title-news {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* Mise en place du footer en bas de page quand pas suffisamment de contenu */

.page-news ~ footer {
  position: fixed;
  bottom: 0;
}

/* Média Queries - Adaptation sur écran de plus de 360px */

@media screen and (min-width: 360px) {
}

/* Média Queries - Adaptation sur écran de plus de 768px de large */

@media screen and (min-width: 768px) {
}

/* Média Queries - Adaptation sur écran de plus de 992px de large */

@media screen and (min-width: 992px) {
}

/* Média Queries - Adaptation sur écran de plus de 992px de large et 1049px de haut */

@media screen and (min-width: 992px) and (min-height: 1049px) {
}
