/* Reset CSS */

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Mise en place d'un box-sizing à l'ensemble du site */

* {
  box-sizing: border-box;
}

/* Mise en forme du body dans son conteneur */

body {
  max-width: 1360px;
  justify-content: space-evenly;
  padding-left: 1rem;
  padding-right: 1rem;
  margin: 0 auto;
  background-color: #adadad;
  color: #100ff1;
}

/* Style des label */

label {
  display: block;
}

/* Style des input */

input:focus-visible,
textarea:focus-visible {
  outline: #0f8cf1 auto 1px;
}

/* Style des boutons */

button {
  cursor: pointer;
}

button:not(.burger-menu) {
  width: 100%;
  height: 50px;
  box-shadow: 6px 6px 6px #adadad;
}

button:hover:not(.burger-menu) {
  transform: translateY(3.5px);
  box-shadow: 4px 4px 4px;
}

button:active:not(.burger-menu) {
  transform: translateY(7px);
  box-shadow: 2px 2px 2px;
  color: #0f8cf1;
}
